{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <script src="/static/chatanalyzer/js/index.js"></script>
    <body>
        <nav class="navbar navbar-default" style="background-color: #3875d7;">
            <div class="container-fluid ">
                <a class="navbar-brand" style="color: #c4dce8">Sapo</a>
            </div>
        </nav>
        <div style="height: 50px"></div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-1">     </div>
                <div class="card col-lg-5" style="height: 900px;">
                    <div class="row" id="graph" style="height: 450px;">
                        <div class="card-body">
                            aca va el grafico
                        </div>
                    </div>
                    <div class="row" id="important_mesagges" style="height: 450px;">
                        aca va msg importante
                    </div>
                </div>
                <div class="col-lg-1">     </div>
                <div class="col-lg-4 scroll-fit" >
                    <nav class="navbar navbar-default" style="background-color: #3875d7;">
                        <div class=" container-fluid ">
                            <button type="button" class="btn btn-light" id="btn-remove-irrelevant"> Remove Irrelevant</button>
                            <a class="navbar-brand" style="color: #c4dce8">Group Chat</a>
                        </div>
                    </nav>
                    <div class="card-body" id="chat-box" style="max-height: 90px;">

                    </div>

                </div>
                <div class="col-lg-1">     </div>
        </div>
        </div>
    </body>

{% endblock %}



