{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <script src="/static/chatanalyzer/js/index.js"></script>
    <body>
        <nav class="navbar navbar-default" style="background-color: #3875d7;">
            <div class="container-fluid ">
                <a class="navbar-brand" style="color: #c4dce8">Sapo</a>
            </div>
        </nav>
        <div style="height: 50px"></div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-1">     </div>
                <div class=" col-lg-5">
                    <div class="row" style="height: 450px;">
                        <div class="card-body" id="graph">
                            aca va el grafico
                        </div>
                    </div>
                     <div class="overlay-marker">
                        <img src="" height="50" id="img1" onclick="clicked(this)">
                     </div>
                    <div class="overlay-marker">
                        <img src="" height="50" id="img2" onclick="clicked(this)">
                     </div>
                    <div class="overlay-marker">
                        <img src="" height="50" id="img3" onclick="clicked(this)">
                     </div>
                    <div class="overlay-marker">
                        <img src="" height="50" id="img4" onclick="clicked(this)">
                     </div>
                    <div class="overlay-marker">
                        <img src="" height="50" id="img5" onclick="clicked(this)">
                     </div>
                    <div class="overlay-marker">
                        <img src="" height="50" id="img6" onclick="clicked(this)">
                     </div>
                    <div class="overlay-marker">
                        <img src="" height="50" id="img7" onclick="clicked(this)">
                     </div>
                    <div class="overlay-marker">
                        <img src="" height="50" id="img8" onclick="clicked(this)">
                     </div>
                    <div class="overlay-marker">
                        <img src="" height="50" id="img9" onclick="clicked(this)">
                     </div>
                    <div class="overlay-marker">
                        <img src="" height="50" id="img10" onclick="clicked(this)">
                     </div>

                    <nav style="overflow: auto; background: #3875d7; color: #c4dce8">Most Relevant Messages</nav>


                    <div class="row" id="important_mesagges" style=" margin-left: 5px; overflow: auto; max-height: 450px;">

                    </div>
                </div>
                <div class="col-lg-1">     </div>
                <div class="col-lg-4 scroll-fit" >
                    <nav class="navbar navbar-default" style="background-color: #3875d7;">
                        <div class=" container-fluid ">
                            <button type="button" class="btn btn-light" id="btn-remove-irrelevant"> Remove Irrelevant</button>
                            <a class="navbar-brand" style="color: #c4dce8">Group Chat</a>
                        </div>
                    </nav>
                    <div class="card-body" id="chat-box" style=" overflow: auto; max-height: 900px;">

                    </div>

                </div>
                <div class="col-lg-1">     </div>
        </div>
        </div>
    </body>

{% endblock %}



